﻿<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - Day03Demo1View - <a asp-area="" asp-controller="TvcHome" asp-action="Day03Demo1About">Thông tin</a>
    </div>

    <div class="col-3">
        @await Component.InvokeAsync("Day03Demo1")
    </div>
</footer>
