@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <b>lê Đoàn Quốc Văn Car Store</b></h1>
    <p>Learn about <a href="https://store.ferrari.com/">building Web apps with ASP.NET Core</a>.</p>
</div>
