@{
    Layout = "~/Areas/Admins/Views/Shared/_Admins.cshtml"; // chỉ rõ layout admin
    ViewData["Title"] = "Dashboard";
}

<h2>Welcome to Admin Dashboard</h2>
<p>Đây là trang quản trị riêng biệt.</p>
