@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>Mã sinh viên: 2210900078</p>
    <p>Họ và tên: Le Doan Quoc Van</p>
    <p>Lớp: K22CNT4</p>
    <p>Email:Vanyus1505@gmail.com</p>
    <p>
        Điện thoại:
        <a href="tel:0869604227">0869 604 227</a>
    </p>
</div>
